body {
	background-image: url(images/bg.jpg);
}
#Layer2 {
position: absolute; 
width:500px; 
height:400px; 
left:50%; 
top:370px; 
margin-left:-250px; 
margin-top:-250px; 
background-color: #99FFFF;
font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu ;
font-size:36px;
}