@charset "utf-8";
/* CSS Document */
table.gridtable {
	background:url(../images/backgraund.jpg)
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

input,select
{
color: #00000; /*文字色彩*/
font-size : 10pt ; /*文字大小*/
font-weight:bold;
background-color: #C2D5FC; /*背景色彩*/
border: 2px solid #5A90E5 ;/*上框*/ 
border-bottom : 3px solid #5A90E5 ;/*下框*/ 
border-left : 2px solid #5A90E5    ; /*左框*/
border-right : 3px solid #5A90E5 ; /*右框*/
}
textarea{
	color: #00000; /*文字色彩*/
font-size : 10pt ; /*文字大小*/
font-weight:bold;
background-color: #C2D5FC; /*背景色彩*/
border: 2px solid #5A90E5 ;/*上框*/ 
border-bottom : 3px solid #5A90E5 ;/*下框*/ 
border-left : 2px solid #5A90E5    ; /*左框*/
border-right : 3px solid #5A90E5 ; /*右框*/
}

